<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="" type="text/css"/>
  <title>Document</title>
</head>

<body>
  <div id="map"></div>
  <script>
    var map = L.map('map').setView([parseFloat('{{lat}}'), '{{long}}'], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker(['{{lat}}', '{{long}}']).addTo(map)
      .bindPopup('{{texto}}')
      .openPopup();
  </script>
  {{lat}}
  {{long}}

  
</body>

</html>